In [2]:
import pandas as pd

workdir = 'C:\\Users\\ed.deane\\OneDrive - Sabio Ltd\\Documents\\Customers\\IKEA\\Knowledge\\Python\\AdventOfCode\\Day 1 Calorie Counting\\'

with open(workdir+'1.input.txt', 'r') as file:
    data = file.read().replace('\n', ',').replace(',,', '\n').rstrip(',')
    
print(data, file=open(workdir+'1.input.csv', 'w'))


df = pd.read_csv(workdir+'1.input.csv', sep=':',header=None)

In [3]:
df['arr']=df[0].str.split(',')

In [4]:
#iterate
winner = 0
for index, row in df.iterrows():
    if sum(map(int,row['arr'])) > winner:
        winner = sum(map(int,row['arr']))
        print (winner)

47448
59018
63645
63967
67023
68923

In [142]:
#dataframe
df['sum']=df.apply(lambda row: sum(map(int,row['arr'])), axis=1)

In [149]:
df = df.sort_values(by=['sum'], ascending=False)

,0,arr,sum
224,"12512,13741,6425,13234,10597,12414","[12512, 13741, 6425, 13234, 10597, 12414]",68923
118,67023,[67023],67023
128,"7435,6290,3249,9358,9196,8951,5023,4910,9686","[7435, 6290, 3249, 9358, 9196, 8951, 5023, 491...",64098

In [152]:
df['sum'].head(3).sum()

200044