In [17]:
import pandas as pd

workdir = 'C:\\Users\\ed.deane\\Python\\AdventOfCode\\Day 5 Supply Stacks\\'

df= pd.read_csv(workdir+'test_input.txt', header=None)

#initialise each stack
stacks={}
# stacks = {1:['Z', 'N'], 2 : ['M', 'C','D'], 3 : ['P']}
for i in range (9):
    stacks[i+1]=[]
# For each line of the file, create a column representing the x axis and index the y
for index, row in df.iterrows():
    if (row[0].replace(' ','').isdigit()):
        break
    k=1
    for j in row[0].replace('[','').replace(']','').replace('    ',' ').split(' '):
        if len(j)> 0:
            stacks[k].insert(0,j)
        k+=1
stacks

{1: ['move', 'move', 'move', 'move'],
 2: ['1', '2', '3', '1'],
 3: ['from', 'from', 'from', 'from'],
 4: ['1', '2', '1', '2'],
 5: ['to', 'to', 'to', 'to'],
 6: ['2', '1', '3', '1'],
 7: [],
 8: [],
 9: []}

In [18]:
stacks = {1:['Z', 'N'], 2 : ['M', 'C','D'], 3 : ['P']}

In [14]:
df= df[df[0].str.contains('move')]

# For each line of the file, create a column representing the x axis and index the y
for index, row in df.iterrows():
    cmd = row[0].split()
    for j in range (int(cmd[1])):
        i = stacks[int(cmd[3])].pop()
        stacks[int(cmd[5])].append(i)

In [16]:
for k in stacks:
    print (stacks[k].pop())

W
C
Z
T
H
T
M
P
S

In [15]:
df

                       0
9     move 3 from 5 to 2
10    move 3 from 8 to 4
11    move 7 from 7 to 3
12   move 14 from 3 to 9
13    move 8 from 4 to 1
..                   ...
506   move 7 from 1 to 8
507   move 1 from 3 to 6
508   move 4 from 5 to 4
509   move 1 from 5 to 2
510   move 8 from 4 to 9

[502 rows x 1 columns]