In [23]:
import pandas as pd
# Creates pandas DataFrame.
visited_positions_df = pd.DataFrame({0:1}, index=[0])

visited_positions_df

def add_position(visited_positions_df,x,y):
    try:
        #Increment the value already at that position
        visited_positions_df.at[y,x] = visited_positions_df.fillna(0)._get_value(y,x, takeable=False)+1
    except KeyError:
        print('Create new entry')
        visited_positions_df.at[y,x] = 1
    
    return visited_positions_df

visited_positions_df= add_position(visited_positions_df,0,1)
visited_positions_df= add_position(visited_positions_df,0,2)
visited_positions_df= add_position(visited_positions_df,0,2)
visited_positions_df= add_position(visited_positions_df,1,2)
visited_positions_df= add_position(visited_positions_df,2,2)
visited_positions_df

Create new entry
Create new entry
Create new entry
Create new entry

     0    1    2
0  1.0  NaN  NaN
1  1.0  NaN  NaN
2  2.0  1.0  1.0

In [24]:
visited_positions_df

     0    1    2
0  1.0  NaN  NaN
1  1.0  NaN  NaN
2  2.0  1.0  1.0

In [ ]:



H=(2,2)
T=(2,1)
print (move_tail(T,H))

H=(4,2)
T=(4,0)

print (move_tail(T,H))

H=(3,3)
T=(5,3)

print (move_tail(T,H))

H=(2,2)
T=(3,4)

print (move_tail(T,H))

H=(3,4)
T=(2,2)

print (move_tail(T,H))

In [6]:
T=[] 
for i in range(9):
    T.append([i,[0,0]])
print(T)
T[0][1]

[[0, [0, 0]], [1, [0, 0]], [2, [0, 0]], [3, [0, 0]], [4, [0, 0]], [5, [0, 0]], [6, [0, 0]], [7, [0, 0]], [8, [0, 0]]]

[0, 0]