In [24]:
import pandas as pd

workdir = 'C:\\Users\\ed.deane\\OneDrive - Sabio Ltd\\Documents\\Customers\\IKEA\\Knowledge\\Python\\AdventOfCode\\Day 2 Rock Paper Scissors\\'

df = pd.read_csv(workdir+'input.txt', sep=' ',header=None)

      0  1
0     B  X
1     A  Z
2     A  Y
3     B  X
4     C  Z
...  .. ..
2495  C  Y
2496  B  Y
2497  C  Y
2498  C  Y
2499  B  Y

[2500 rows x 2 columns]

In [25]:
def convert_to_RPS(opponent, you):
    #opponent A for Rock, B for Paper, and C for Scissors
    opp_choice = {
        'A': 'Rock',
        'B': 'Paper',
        'C': 'Scissors',
    }[opponent]
    
    you_choice =  {
        'X': 'Rock',
        'Y': 'Paper',
        'Z': 'Scissors',
    }[you]
    return (opp_choice,you_choice)

def choice_score(x):
    #1 for Rock, 2 for Paper, and 3 for Scissors
    return {
        'Rock': 1,
        'Paper': 2,
        'Scissors':3,
    }[x]

def outcome(opp_choice,you_choice):
    if(opp_choice==you_choice):
        ret = 'draw'
    if(opp_choice=='Rock' and you_choice=='Paper'):
        ret = 'you_win'
    if(opp_choice=='Rock' and you_choice=='Scissors'):
        ret = 'opp_win'
    if(opp_choice=='Paper' and you_choice=='Rock'):
        ret = 'opp_win'
    if(opp_choice=='Paper' and you_choice=='Scissors'):
        ret = 'you_win'
    if(opp_choice=='Scissors' and you_choice=='Rock'):
        ret = 'you_win'
    if(opp_choice=='Scissors' and you_choice=='Paper'):
        ret = 'opp_win'
    return ret

def calc_scores(choice_score, outcome):
    return {
        'opp_win': 0,
        'draw': 3,
        'you_win':6,
    }[outcome]+choice_score

In [26]:
round_choice = convert_to_RPS('A', 'Y')
print(round_choice)
print(choice_score(round_choice[0]),choice_score(round_choice[1]))
print(outcome(round_choice[0], round_choice[1]))

print(calc_scores(choice_score(round_choice[1]),outcome(round_choice[0], round_choice[1])))


round_choice = convert_to_RPS('B', 'X')
print(round_choice)
print(calc_scores(choice_score(round_choice[1]),outcome(round_choice[0], round_choice[1])))

round_choice = convert_to_RPS('C', 'Z')
print(calc_scores(choice_score(round_choice[1]),outcome(round_choice[0], round_choice[1])))

('Rock', 'Paper')
1 2
you_win
8
('Paper', 'Rock')
1
6

In [29]:
#iterate
total_you = 0
for index, row in df.iterrows():
    #sum(map(int,row['arr'])) 
    round_choice = convert_to_RPS(row[0],row[1])
    total_you = total_you+(calc_scores(choice_score(round_choice[1]),outcome(round_choice[0], round_choice[1])))
    
print(total_you)

10994

In [142]:
#dataframe
df['sum']=df.apply(lambda row: sum(map(int,row['arr'])), axis=1)

In [149]:
df = df.sort_values(by=['sum'], ascending=False)

,0,arr,sum
224,"12512,13741,6425,13234,10597,12414","[12512, 13741, 6425, 13234, 10597, 12414]",68923
118,67023,[67023],67023
128,"7435,6290,3249,9358,9196,8951,5023,4910,9686","[7435, 6290, 3249, 9358, 9196, 8951, 5023, 491...",64098

In [152]:
df['sum'].head(3).sum()

200044